@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

#wrapper {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6, p, li, ul, div, input, textarea, fieldset {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaa; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #aaa; }

input {
  background: transparent;
  text-transform: uppercase;
  border: none;
  font-size: 14pt;
  color: #fff;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  font-family: inherit;
  font-weight: 400 !important; }
  input:focus {
    outline: none; }
  input:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.button, .edit, .delete {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 10;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.edit {
  left: 50%;
  top: 50%;
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  background-size: 80% 80%;
  background-image: url("../img/pen.png"); }
  .edit:hover {
    background-color: rgba(200, 255, 200, 0.8); }

.delete {
  right: -6px;
  top: -6px;
  background-image: url("../img/close.png"); }
  .delete:hover {
    background-color: #fff; }

.animate, input, .menu-button, ul.toolbar li, .category, .category .slidecontainer, .slide .info input, #editor .slides .list .slide {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.shadow, ul.toolbar, .category {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -ms-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -o-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3); }

ul.toolbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 96px;
  height: 100%;
  background-color: #1e2124;
  color: #eeeeee;
  overflow: visible; }
  ul.toolbar .header {
    position: relative;
    height: 96px;
    width: 96px; }
    ul.toolbar .header h3 {
      position: absolute;
      text-align: center;
      width: 100%;
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      left: 0px;
      top: 50%;
      margin-top: -5pt; }
  ul.toolbar.wide {
    width: 192px; }
    ul.toolbar.wide .header {
      width: 192px; }
    ul.toolbar.wide li {
      position: relative !important;
      width: 100%;
      text-align: left; }
      ul.toolbar.wide li img {
        position: absolute;
        top: 35%;
        left: 20px;
        margin: 0; }
      ul.toolbar.wide li h4 {
        position: absolute;
        text-transform: uppercase;
        left: 70px;
        width: 112px;
        top: 40px;
        font-size: 10pt;
        margin-top: -6pt; }
      ul.toolbar.wide li p {
        font-size: 9pt;
        position: absolute;
        width: 110px;
        left: 70px;
        top: 50px;
        color: #bbbbbb; }
      ul.toolbar.wide li ul.submenu {
        left: 192px; }
      ul.toolbar.wide li.submenu-visible ul.submenu {
        width: 192px; }
      ul.toolbar.wide li:hover ul.submenu {
        width: 192px; }
  ul.toolbar li ul.submenu {
    display: block;
    overflow: hidden;
    z-index: 10;
    width: 0px;
    top: 0px;
    left: 96px; }
  ul.toolbar li:hover {
    overflow: visible; }
    ul.toolbar li:hover ul.submenu {
      width: 96px;
      display: block; }
  ul.toolbar li.submenu-visible ul.submenu {
    left: 0px;
    width: 96px;
    display: block; }

.menu-button, ul.toolbar li {
  cursor: pointer;
  position: relative;
  height: 96px;
  width: 96px;
  text-align: center;
  background-color: #2a2e32; }
  .menu-button:hover, ul.toolbar li:hover {
    background-color: #5a7faf; }
  .menu-button img, ul.toolbar li img {
    margin-top: 35%;
    height: 30%; }
  .menu-button:not(:first-child), ul.toolbar li:not(:first-child) {
    margin-top: 2px; }

.presentation {
  z-index: 1;
  position: absolute;
  left: 96px;
  right: 0px;
  top: 0px;
  height: 100%;
  overflow-y: scroll;
  background-color: white; }
  .presentation .categories {
    z-index: 0;
    position: relative;
    min-height: 60%;
    width: 100%;
    overflow: hidden; }
  .presentation .header, .presentation .footer {
    -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.5);
    -ms-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.5);
    -o-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.5);
    position: relative;
    height: 254px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px; }
    .presentation .header input, .presentation .footer input {
      position: absolute;
      width: 50%;
      left: 25%;
      margin: 0;
      bottom: 20px;
      text-align: center;
      padding: 10px;
      font-size: 20pt;
      color: #222; }
  .presentation .header:after {
    z-index: 1;
    content: " ";
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -16px;
    border-top: 16px solid rgba(255, 255, 255, 0.9);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent; }
  .presentation .footer:after {
    z-index: 1;
    content: " ";
    position: absolute;
    left: 50%;
    top: -15px;
    margin-left: -16px;
    border-bottom: 16px solid rgba(255, 255, 255, 0.9);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent; }

.category {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  min-width: 700px;
  /*border: 2px dashed rgba(255,255,255,0.3);*/
  border-radius: 3px;
  min-height: 143px;
  background-color: #529396; }
  .category .title {
    vertical-align: top;
    position: absolute;
    float: left;
    height: 100%;
    width: 274px;
    background-color: #f7f7f7; }
    .category .title:after {
      content: " ";
      position: absolute;
      right: -16px;
      top: 50%;
      margin-top: -16px;
      border-left: 16px solid #f7f7f7;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent; }
    .category .title > input {
      color: #080808; }
  .category > .edit {
    display: none;
    left: 10%; }
  .category:hover > .delete, .category:hover > .edit {
    opacity: 1; }
  .category.dragover {
    /*border: 2px dashed rgba(255,255,255,0.9);*/ }
    .category.dragover .title {
      opacity: 0.7; }
    .category.dragover .slide-scroller {
      opacity: 0.7; }
  .category .slidecontainer {
    position: relative;
    display: block;
    left: 294px;
    margin-right: 304px; }
    .category .slidecontainer .before {
      display: inline-block;
      display: none;
      width: 10px; }

/*
.slide-container{
	position:relative;
	width: 160px;
	height: 160px;
	display:inline-block;
	vertical-align: top;
	margin: 5px;
*/
.slide {
  position: relative;
  width: 128px;
  height: 96px;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
  margin-bottom: 45px;
  background-color: rgba(255, 255, 255, 0.3);
  background-size: 20%;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .slide.video {
    background-image: url(../img/video.png); }
  .slide.form {
    background-image: url(../img/form.png); }
  .slide.col1, .slide.col2, .slide.col3 {
    background-image: url(../img/paper.png); }
  .slide:hover > .delete, .slide:hover > .edit {
    opacity: 1; }
  .slide .col {
    margin-top: 5%;
    height: 90%;
    background-color: rgba(100, 100, 100, 0.6);
    display: inline-block;
    vertical-align: top; }
  .slide .info {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: -40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7); }
    .slide .info input {
      color: #2d2d2d;
      font-size: 10pt;
      width: 100%;
      height: 100%;
      margin: 0;
      text-align: center; }
      .slide .info input:hover {
        background-color: rgba(230, 230, 230, 0.7); }

/*
}
*/
#editor {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white; }
  #editor .slide {
    border: 1px dashed #2d2d2d; }
  #editor #slidewindow {
    position: absolute;
    left: 192px;
    right: 0px;
    top: 0px;
    bottom: 104px; }
    #editor #slidewindow .slide {
      position: absolute;
      top: 10%;
      bottom: 10%;
      right: 10%;
      left: 10%;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0; }
  #editor ul.toolbar li {
    position: static; }
  #editor .slides {
    position: absolute;
    bottom: 0px;
    left: 192px;
    right: 0px;
    height: 104px;
    overflow-x: scroll;
    overflow-y: hidden; }
    #editor .slides .list {
      position: relative;
      left: 0px;
      top: 0px;
      height: 100%;
      background-color: #529396; }
      #editor .slides .list .slide {
        margin: 10px;
        width: 96px;
        height: 64px; }
        #editor .slides .list .slide:hover {
          opacity: 0.7;
          cursor: pointer; }
        #editor .slides .list .slide .edit {
          display: none; }
          #editor .slides .list .slide .edit:hover {
            display: none; }
