@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

#wrapper {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaa; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #aaa; }

input {
  background: transparent;
  text-transform: uppercase;
  border: none;
  font-size: 14pt;
  color: #fff;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  font-family: inherit;
  font-weight: 400 !important; }
  input:focus {
    outline: none; }

.button, .edit, .delete {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  z-index: 10;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -ms-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -o-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3); }

.edit {
  left: 50%;
  top: 50%;
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  background-size: 80% 80%;
  background-image: url("../img/pen.png"); }
  .edit:hover {
    background-color: rgba(200, 255, 200, 0.8); }

.delete {
  right: -6px;
  top: -6px;
  background-image: url("../img/close.png"); }
  .delete:hover {
    background-color: rgba(255, 200, 200, 0.8); }

.animate, ul.toolbar, .category, .category .slides, .slide .info input {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.shadow, ul.toolbar {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -ms-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -o-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3); }

ul.toolbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 64px;
  height: 100%;
  background-color: #2c2c2c;
  color: #eee;
  overflow: visible; }
  ul.toolbar li ul.submenu {
    display: block;
    overflow: hidden;
    z-index: 10;
    width: 0px;
    top: 0px;
    left: 64px; }
  ul.toolbar li:hover {
    overflow: visible; }
    ul.toolbar li:hover ul.submenu {
      width: 64px;
      display: block; }
  ul.toolbar li.submenu-visible ul.submenu {
    left: 0px;
    width: 64px;
    display: block; }

.menu-button, ul.toolbar li {
  position: relative;
  height: 64px;
  width: 64px;
  text-align: center;
  background-color: #393939; }
  .menu-button:hover, ul.toolbar li:hover {
    background-color: #464646; }
  .menu-button img, ul.toolbar li img {
    margin-top: 20%;
    height: 60%; }
  .menu-button:not(:first-child), ul.toolbar li:not(:first-child) {
    margin-top: 2px; }

.presentation {
  z-index: 1;
  position: absolute;
  left: 64px;
  top: 0px;
  width: calc(100% - 64px);
  height: 100%;
  overflow-y: scroll;
  background-color: #373853;
  background-image: url("../img/mooning.png"); }
  .presentation .categories {
    z-index: 0;
    position: relative;
    padding-top: 34px;
    padding-bottom: 34px;
    min-height: 60%; }
  .presentation .header {
    position: relative;
    height: 20%;
    background-color: white; }
    .presentation .header input {
      position: absolute;
      width: 50%;
      left: 25%;
      margin: 0;
      bottom: 20px;
      text-align: center;
      padding: 10px;
      font-size: 20pt;
      border-bottom: 2px dashed #373853;
      color: #222; }
    .presentation .header:after {
      z-index: 1;
      content: " ";
      position: absolute;
      left: 50%;
      bottom: -16px;
      margin-left: -16px;
      border-top: 16px solid white;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent; }
  .presentation .footer {
    position: relative;
    height: 20%;
    background-color: white; }
    .presentation .footer:after {
      z-index: 1;
      content: " ";
      position: absolute;
      left: 50%;
      top: -16px;
      margin-left: -16px;
      border-bottom: 16px solid white;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent; }

.category {
  position: relative;
  width: 98%;
  margin: 1%;
  height: auto;
  min-width: 700px;
  /*border: 2px dashed rgba(255,255,255,0.3);*/
  border-radius: 3px;
  min-height: 172px;
  background-color: white; }
  .category .title {
    vertical-align: top;
    position: absolute;
    float: left;
    height: 100%;
    width: 20%;
    background-color: #2c2c2c; }
    .category .title:after {
      content: " ";
      position: absolute;
      right: -16px;
      top: 50%;
      margin-top: -16px;
      border-left: 16px solid #2c2c2c;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent; }
  .category > .edit {
    left: 10%; }
  .category:hover > .delete, .category:hover > .edit {
    opacity: 1; }
  .category.dragover {
    /*border: 2px dashed rgba(255,255,255,0.9);*/ }
    .category.dragover .title {
      opacity: 0.7; }
    .category.dragover .slide-scroller {
      opacity: 0.7; }
  .category .slides {
    position: relative;
    display: inline-block;
    width: 77%;
    left: 23%; }
    .category .slides .before {
      display: inline-block;
      display: none;
      width: 10px; }

/*
.slide-container{
	position:relative;
	width: 160px;
	height: 160px;
	display:inline-block;
	vertical-align: top;
	margin: 5px;
*/
.slide {
  position: relative;
  width: 160px;
  height: 120px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  margin-bottom: 45px;
  background-color: #afc3ec;
  background-size: 20%;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .slide.video {
    background-image: url(../img/video.png); }
  .slide.form {
    background-image: url(../img/form.png); }
  .slide.col1, .slide.col2, .slide.col3 {
    background-image: url(../img/paper.png); }
  .slide:hover > .delete, .slide:hover > .edit {
    opacity: 1; }
  .slide .col {
    margin-top: 5%;
    height: 90%;
    background-color: rgba(100, 100, 100, 0.6);
    display: inline-block;
    vertical-align: top; }
  .slide .info {
    position: absolute;
    left: 0px;
    bottom: -40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7); }
    .slide .info input {
      color: #2c2c2c;
      font-size: 10pt;
      width: 100%;
      height: 100%;
      margin: 0;
      text-align: center; }
      .slide .info input:hover {
        background-color: rgba(230, 230, 230, 0.7); }

/*
}
*/
