$slide-info	: rgba(255,255,255,0.7);

$category-bg 	: #529396;

$slide 		: rgba(255,255,255,0.3);
$presentation_bg : #fff;
$header_bg : rgba(255,255,255,0.9);

$toolbar-bg : #1e2124;
$toolbar-text: #eee;
$toolbar-button-color: 	lighten($toolbar-bg, 5%);
$toolbar-button-hover:#5A7FAF;


$category-title : #f7f7f7;

