$slide-info	: rgba(255,255,255,0.7);

$category-bg 	: #fff;

$slide 		: #5A7FAF;
$presentation_bg : #fff;
$header_bg : rgba(216, 216, 216, 1);

$toolbar-bg : #1D1D1D;
$toolbar-text: #eee;
$toolbar-button-color: 	lighten($toolbar-bg, 5%);
$toolbar-button-hover:#5A7FAF;


$category-title : rgba(216, 216, 216, 1);

