$slide-info	: rgba(255,255,255,0.7);

$category-bg 	: #fff;

$slide 		: #fff;
$slide-hover : rgb(114, 197, 223);
$presentation_bg : #fff;
$header_bg : rgba(255,255,255,0.9);

$toolbar-bg : #1e2124;
$toolbar-text: #eee;
$toolbar-button-color: 	lighten($toolbar-bg, 5%);
$toolbar-button-hover:#5A7FAF;


$category-title : darken($category-bg,5%);

