body{
	width: 100%;
	height: 100%;
	overflow: hidden;;
}

#wrapper{
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 400 !important;
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
}

h1,h2,h3,h4,h5,h6,p,li,ul,div,input,textarea,fieldset{
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 400;	
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaa;  
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #aaa;
}


input{
	@extend .animate;
	background: transparent;
	text-transform: uppercase;
	border: none;
	font-size: 14pt;
	color: #fff;
	width: 80%;
	margin-left: 10%;
	padding: 10px;
	font-family: inherit;
	font-weight: 400 !important;

	&:focus{
		outline:none;
	}

	&:hover{
		background-color: rgba(0,0,0,0.1);
	}
}


.button{
	position:absolute;
	width: 24px;
	height: 24px;

	opacity:0;
	border-radius: 50%;
	background-position: 50% 50%;
	background-size: 100% 100%;
	background-repeat: no-repeat;


	z-index:10;
	cursor:pointer;

	@include prefix('transition-duration','0.2s');
}

div:hover > .edit,div:hover > .delete{
	opacity: 1;
}

.edit{
	@extend .button;
	left: 50%;
	top: 50%;
	width: 48px;
	height: 48px;

	margin-left:-24px;
	margin-top: -24px;

	background-size: 80% 80%;
	background-image: url('../img/pen.png');

	&:hover{
		opacity: 1;
		background-color: rgba(100,255,100,0.8);
	}
}

.delete{			
	@extend .button;
	right: -6px;
	top: -6px;
	background-image: url('../img/close.png');
	

	&:hover{
		opacity: 1;
		background-color: rgba(255,100,100,0.8);
	}
}

.animatewindow{
	@include prefix('transition-duration','0.4s');
	@include prefix('transition-timinf-function','ease-in-out');
}

.animate{
	@include prefix('transition-duration','0.2s');
	@include prefix('transition-timinf-function','ease-in-out');
}

.shadow{
	@include prefix('box-shadow','0px 0px 20px 0px rgba(0,0,0,0.3)' );
}

.hidden-right{
	left: 100% !important;
	right: -100% !important;
}

.hidden-left{
	right: 100% !important;
	left: -100% !important;
}