@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);



.presentation{
	z-index:1;
	position:absolute;
	left:96px;
	right:0px;
	top:0px;
	height: 100%;
	overflow-y: scroll;

	background-color: $presentation_bg;

	.categories{
		z-index:0;
		position:relative;
		min-height:60%;
		width: 100%;
		overflow:hidden;
	}

	.header, .footer{
		
		@include prefix('box-shadow','0px 0px 60px 0px rgba(0,0,0,0.5)' );
		position:relative;
		height: 254px;
		background-color: $header_bg;

		padding:20px;
		
		input{
			position:absolute;
			width: 50%;
			left:25%;
			margin:0;
			bottom: 20px;
			text-align:center;
			padding:10px;
			font-size:20pt;

			color:#222;
		}
	}	

	.header{


		&:after{
			z-index:1;
			content:" ";
			position:absolute;
			left: 50%;
			bottom: -15px;
			margin-left: -16px;
			border-top: 16px solid $header_bg;
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
		}
		
	}


	.footer{

		&:after{
			z-index:1;
			content:" ";
			position:absolute;
			left: 50%;
			top: -15px;
			margin-left: -16px;
			border-bottom: 16px solid $header_bg;
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
		}
	}
}